/*CSS COMUN*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Unna', serif;
  font-weight: 400;
  line-height: 1.5;
}

html, body, #root, #root>div, .main-page, .upperPage, .ant-layout.page {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #FFDCB4;
}

.ant-layout.page {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 50px white inset !important;
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.85) !important;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px white inset !important;
  -webkit-box-shadow: 0 0 0 50px white inset !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.85) !important;
}

.notifZ.info .ant-notification-notice-icon {
  color: #0f5d94;
}

.notifZ.success .ant-notification-notice-icon {
  color: #28a745;
}

.notifZ.warning .ant-notification-notice-icon {
  color: #ffc107;
}

.notifZ.error .ant-notification-notice-icon {
  color: #dc3545;
}

.mainPage {
  margin: 0px 60px;
}

.mainPage h1 {
  font-size: 60px;
  margin-bottom: 80px;
}

.mainPage h4 {
  font-size: 25px;
  margin-bottom: 80px;
}

.list{
  font-size: 25px;
  list-style: decimal;
}

.mainButton{
  background-color: #212529;
  border-color: #1a1818;
}

.mainButton:focus, .mainButton:hover{
  background-color: #363636;
  border-color: #212529;
}

.ant-upload-list {
  display: none !important;
}
/*CSS COMUN*/

/*RESPONSIVE*/

@media only screen and (min-width:1200px) {

  /*SCROLLBAR*/
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #cfcfcf;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /*SCROLLBAR*/
}

/*RESPONSIVE*/

@media screen and (max-width: 1199px) {}

@media only screen and (max-width:991px) {}

@media only screen and (min-width:992px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media only screen and (max-width:575px) {
  .mainPage {
    margin: 0px 10px !important;
  }
  
  .mainPage h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  
  .mainPage h4, .list {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

/*RESPONSIVE*/