body {
    font-family: 'Montserrat', sans-serif;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #FFC27B;
    font-size: 18px;
}

h1 {
    font-family: 'Unna', serif;
    font-size: 60px;
}